@model IEnumerable<TheWorld.Models.Trip>

@{ 
    ViewBag.Title = "HomePage";
}


<!DOCTYPE html>
<html>
<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <h1> Welcome to The World</h1>
            <p> This app will allow you to plan for world trip</p>
            <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success"> View My Trips</a>

        </div>

    </div>


</body>
</html>