@{ 
    ViewBag.Title = "HomePage";
}


<!DOCTYPE html>
<html>
<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="row">
        <div class="col-md-6">
            <h2> The World</h2>
            <p>This will be a fun website</p>

            <form>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input class="form-control"/>
                </div class="form-group">
                <div><input type="submit" value="Add" class="form-control"/></div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>The Map</h2>

        </div>

    </div>


</body>
</html>